
<!-- Pulkit carusel -->
	<div class="container-fluid">
		<div class="row">
			<div style="padding-top:55px;" id="dishes-carousel" class="carousel slide" data-ride="carousel" data-pause="false" data-interval="3000">


			<!-- carousel indicators-->
				<ol class="carousel-indicators">
					<li data-target="#dishes-carousel" data-slide-to="0" class="active"></li>
					<li data-target="#dishes-carousel" data-slide-to="1"></li>
					<li data-target="#dishes-carousel" data-slide-to="2"></li>
					<li data-target="#dishes-carousel" data-slide-to="3"></li>
					<li data-target="#dishes-carousel" data-slide-to="4"></li>
					<li data-target="#dishes-carousel" data-slide-to="5"></li>
					<li data-target="#dishes-carousel" data-slide-to="6"></li>
					<li data-target="#dishes-carousel" data-slide-to="7"></li>
					<li data-target="#dishes-carousel" data-slide-to="8"></li>
				</ol>


			<!-- wrapper for content -->
				<div class="carousel-inner" role="listbox" >
					<div class="item active">
						<img class="img-responsive" style="margin: auto; width: 100%; height: auto;" src="images/food/pav-bhaji.Jpeg" alt="Pav-Bhaji">
						<div class="carousel-caption">
							<h2>Pav Bhaji</h2>
						</div>
					</div>
					<div class="item">
						<img style="margin: auto; width:100%; height:auto;" src="images/food/kathiroll.Jpeg" alt="Kathi-Roll">
						<div class="carousel-caption">
							<h2>Kathi Roll</h2>
						</div>
					</div>
					<div class="item">
						<img style="margin: auto; width:100%; height:auto;" src="images/food/manchurian.Jpeg" alt="Manchurian">
						<div class="carousel-caption">
							<h2>Manchurian</h2>
						</div>
					</div>
					<div class="item">
						<img style="margin: auto; width:100%; height:auto;" src="images/food/macroni.Jpeg" alt="Macroni">
						<div class="carousel-caption">
							<h2>Macroni Pasta</h2>
						</div>
					</div>
					<div class="item">
						<img style="margin: auto; width:100%; height:auto;" src="images/food/paneerbuttermasala.Jpeg" alt="Paneer-Butter-Masala">
						<div class="carousel-caption">
							<h2>Paneer Butter Masala</h2>
						</div>
					</div>
					<div class="item">
						<img style="margin: auto; width:100%; height:auto;" src="images/food/pindichole.Jpeg" alt="Pindi-Chole">
						<div class="carousel-caption">
							<h2>Pindi Chole</h2>
						</div>
					</div>
					<div class="item">
						<img style="margin: auto; width:100%; height:auto;" src="images/food/springroll.Jpeg" alt="Spring-Roll">
						<div class="carousel-caption">
							<h2>Spring Roll</h2>
						</div>
					</div>
					<div class="item">
						<img style="margin: auto; width:100%; height:auto;" src="images/food/tikki.Jpeg" alt="Aalu-Tikki">
						<div class="carousel-caption">
							<h2>Aalu Tikki</h2>
						</div>
					</div>
					<div class="item">
						<img style="margin: auto; width:100%; height:auto;" src="images/food/tomatosoup.Jpeg" alt="Tomato-Soup">
						<div class="carousel-caption">
							<h2>Tomato Soup</h2>
						</div>
					</div>
				</div>
			</div>
  		</div>
	</div>
