<div class="modal fade" id="signupform">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <label class="modal-title">Sign Up</label>
        <button class="close" data-dismiss="modal">
          <span aria-hidden="true">x</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="form-group">
          <form method="post" ng-submit="register()">
            <label class="tooltip-test" title="Enter your  Name"> Name</label><input type="text" placeholder = "Name" ng-model ="name" class="form-control">
            <label class="tooltip-test" title="Enter your Email ID">Email</label><input type="email" name="email" ng-model ="email" class="form-control">
            <label class="tooltip-test" title="Enter your password">Password</label><input type="password" ng-model ="password" name="password" class="form-control"><br>
            <label class="tooltip-test" title="Confirm your password">Password</label><input type="password" ng-model ="confirmPassword" name="ConfirmPassword" class="form-control"><br>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Sign Up</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
