<div class="modal-body">
  <div class="form-group">
    <form  method="post" >
      <label class="tooltip-test" title="Enter your First Name">First Name</label><input type="text" name="firstname" class="form-control">
      <label class="tooltip-test" title="Enter your Last Name">Last Name</label><input type="text" name="lastname" class="form-control">
      <label class="tooltip-test" title="Enter your Date of Birth">Date of Birth</label><input type="date" name="dob" class="form-control">
      <label class="tooltip-test" title="Enter your Email ID">Email</label><input type="email" name="email" class="form-control">
      <label class="tooltip-test" title="Enter your password">Password</label><input type="password" name="password" class="form-control"><br>
      <label class="tooltip-test" title="Select your department">Department&nbsp</label><select name="dept"><option>CSE</option><option>ME</option></select><br><br>
      <label class="tooltip-test" title="Select Account Type">Account Type</label>&nbsp;
      <input type="radio" name="acctype" value="student" checked>Student &nbsp;
      <input type="radio" name="acctype" value="student" >Faculty
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Sign Up</button>
        <h1>HEllloo</h1>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </form>
  </div>
</div>
</div>
</div>
</div>
